.cabecalho {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 0.5em;
  background-color: var(--preto);
}

.cabecalho img {
margin: 0 1em;
}
